.container {
  max-width: 1120px;
  margin   : 0 auto;
  padding  : 0 2rem;

  & {
    padding: 0 13.125rem;
  }
}

.info {
  color: var(--info);

  padding-top: 1.5rem;

  font-size  : 0.875rem;
  line-height: 1.0625rem;

  display       : flex;
  align-items   : center;
  flex-direction: row;

  svg {
    margin-right: 0.5rem;
  }

  time {
    margin-right: 1.5rem;
  }

  span {
    margin-right: 1.5rem;
  }
}
