.posts {
  margin-top: 2rem;

  a {
    display: block;

    &+a {
      margin-top: 3rem;
    }

    strong {
      color: var(--heading);

      font-size     : 1.75rem;
      font-weight   : 700;
      line-height   : 2.125rem;
      letter-spacing: -0.03125rem;
    }

    p {
      line-height: 1.375rem;
      padding-top: 0.5rem;
    }
  }
}

.loadMorePostsButton {
  margin-top: 4rem;


  color      : var(--highlight);
  font-size  : 1.125rem;
  font-weight: 600;
  line-height: 1.375rem;

  background-color: transparent;
  border          : 0
}
